# This is a basic workflow to help you get started with Actions

name: Update Hosts File
on:
  push:
    branches: ["main"]
    paths:
      - allowlist
      - .github/workflows/update.yml
  workflow_dispatch: {}
  schedule:
    - cron: "0 12 * * 0"
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
jobs:
  update-hosts:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: |
          docker run --pull always --rm \
            -v ${{ github.workspace }}/hosts:/etc/hosts -v ${{ github.workspace }}/allowlist:/hosts/whitelist \
            ghcr.io/stevenblack/hosts:latest \
            updateHostsFile.py --minimise --auto --replace --extensions fakenews social gambling
      - run: |
          echo "Auto-Update Hosts File" > message.txt
          date >> message.txt
      - uses: peter-evans/create-pull-request@v8
        id: create-pr
        with:
          add-paths: ./hosts
          title: Auto-Update Hosts File
          commit-message: Automated Update Hosts File
          branch: actions/update-hosts
          body-path: ./message.txt
          assignees: maddiesch
